<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: headerfragment">
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body th:each="dealer : ${listdealer}">
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<p th:text="'Alamat :' + ${dealer.alamat}"></p>
	<p th:text="'Telepon :' + ${dealer.noTelp}"></p>
	<td><a th:href="@{'/car/add/'+ ${dealer.id}}">Add Car</a></td>
	<br>
	<td><a th:href="@{'/dealer/remove/'+ ${dealer.id}}">Remove Dealer</a></td>
	<br>
	<td><a th:href="@{'/dealer/update/'+ ${dealer.id}}">Update Dealer</a></td>
	<table border="1" style="width:300px">
    <tr>
        <td>ID</td>
        <td>BRAND</td>
        <td>TYPE</td>
        <td>PRICE</td>
        <td>AMOUNT</td>
    </tr>
    <th:block th:each="car : ${dealer.listCar}">
    <tr>
        <td th:text="${car.id}"></td>
			<td th:text="${car.brand}"></td>
			<td th:text="${car.type}"></td>
			<td th:text="${car.price}"></td>
			<td th:text="${car.amount}"></td>
			<td><a th:href="@{'/car/remove/'+ ${dealer.id} + '/' + ${car.id}}" th:text="${car.brand}" th:style='color:red;'
                ></a></td>
            <td><a th:href="@{'/car/update/'+ ${dealer.id} + '/' + ${car.id}}"
                >update</a></td>
    </tr>
</th:block>
</table>
</body>

</html>